<header class="Navigation-Menu Scrolling"> <!-- Scrolling -->
  <div class="Navigation-Menu--PC">
    <div class="Container Navigation-Menu__Container">
      <div class="Navigation-Menu__ImageLogo">
        <a href="#">
          <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/logo.png"
               alt="Logo" class="Global_Logo" />
        </a>
      </div>
      <div class="Navigation-Menu__Nav-Icon">
        <nav class="Navigation-Menu__NavPage visible-md">
          <ul>
            <li><a href="#">Home</a></li> <!--li => Active -->
            <li><a href="#">Articles</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
        <div class="Navigation-Menu__ButtonIcon">
          <div class="ButtonIcon--AnonymousUser">
            <label>
              <i class="fa-solid fa-user Global_Icon"></i>
            </label>
          </div>
          <div class="ButtonIcon--UserImage" *ngif="false">
            <input type="checkbox" id="User_Options_PC" class="Switch_Button">
            <label for="User_Options_PC">
              <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                   alt="" />
            </label>
            <div class="Drop-Down Drop-Down--User" >
              <i class="fa-sharp fa-solid fa-caret-up Arrow_Icon"></i>
              <ul>
                <li>My Profile</li>
                <li>Wishlist</li>
                <li>Logout</li>
              </ul>
            </div>
          </div>
          <div class="ButtonIcon--Notification" *ngif="false">
            <input type="checkbox" id="Show_Notification" class="Switch_Button">
            <label for="Show_Notification">
              <i class="fa-sharp fa-solid fa-bell Global_Icon"></i>
            </label>
            <div class="Drop-Down Drop-Down--Notification">
              <i class="fa-sharp fa-solid fa-caret-up Arrow_Icon"></i>
              <div class="Notification-Content No-Scroll">
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <div class="Notification-Piece">
                  <div class="Notification-Piece__Image">
                    <img src="https://elzerowebschool.github.io/HTML_And_CSS_Template_Two/images/skills-01.jpg"
                         alt="Image" />
                  </div>
                  <div class="Notification-Piece__Content">
                    <h3 class="Notification-Piece__Title">Title</h3>
                    <p class="Notification-Piece__Body">Lorem ipsum is een opvultekst die drukkers, zetters, grafisch ontwerpers en dergelijken gebruiken om ...</p>
                    <p class="Notification-Piece__Date">Fri at 11:47 PM</p>
                  </div>
                </div>
                <!--                                        <div class="Notification-Loading">-->
                <!--                                            <span class="Spinner_Loader"></span>-->
                <!--                                        </div>-->
                <!--                                        <div class="Notification-Finish">-->
                <!--                                            <p>there are no further notification</p>-->
                <!--                                        </div>-->
              </div>
              <div class="Notification-More">
                <label for="Show_Notification">
                  <a href="#" class="Global-Button">Show All Notification</a>
                </label>
              </div>
            </div>
          </div>
          <div class="ButtonIcon--Language visible-md">
            <input type="checkbox" id="Lang_Options" class="Switch_Button">
            <label for="Lang_Options">
              <i class="fa-sharp fa-solid fa-earth-americas Global_Icon"></i>
            </label>
            <div class="Drop-Down Drop-Down--Language">
              <i class="fa-sharp fa-solid fa-caret-up Arrow_Icon"></i>
              <ul>
                <li>English</li>
                <li>Arabic</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="Mobile_Buttons hidden-md"> <!-- Scrolling -->
  <ul>
    <li class="Button_Page"><a href="#">
      <span class="Icon_Part"><i class="fa-solid fa-house"></i></span>
      <span class="Text_Part">Home</span>
    </a></li> <!-- Active -->
    <li class="Button_Page"><a href="#">
      <span class="Icon_Part"><i class="fa-solid fa-newspaper"></i></span>
      <span class="Text_Part">Articles</span>
    </a></li>
    <li class="Button_Page"><a href="#">
      <span class="Icon_Part"><i class="fa-solid fa-list"></i></span>
      <span class="Text_Part">Categories</span>
    </a></li>
    <li class="Button_Menu"><a>
      <label for="Show_Menu_More">
        <span class="Icon_Part"><i class="fa-solid fa-compass"></i></span>
        <span class="Text_Part">More</span>
      </label>
    </a></li>
  </ul>
</div>
<aside class="MorePage_Menu hidden-md">
  <input type="checkbox" id="Show_Menu_More" class="Switch_Button Switch_Button--Overlay" />
  <div class="Side_Menu Side_Menu--More">
    <div class="Menu">
      <div class="Menu__Main_Content">
        <label for="Show_Menu_More" class="Menu__Close">
          <i class="fa-sharp fa-solid fa-xmark Global_Icon"></i>
        </label>
        <h1 class="Menu__Title">More</h1>
        <ul class="Menu__Main_List">
          <li class="Menu__Link_Page">
            <a href="#" class="Menu__Button_Fill">About</a>
          </li>
          <li class="Menu__Link_Page">
            <a href="#" class="Menu__Button_Fill">Contact</a>
          </li>
          <li class="Menu__Button Menu__DropDown">
            <input type="checkbox" id="Show_Language" class="Switch_Button"/>
            <label for="Show_Language" class="Menu__Button_Fill">
              <span class="Menu__Button_Fill--Text_Label">Language</span>
              <i class="fa-solid fa-caret-right"></i>
            </label>
            <ul>
              <li class="Menu__Button Menu__Button_Fill">English</li>
              <li class="Menu__Button Menu__Button_Fill">Arabic</li>
            </ul>
          </li>
          <li class="Menu__Link_Page">
            <a href="#" class="Menu__Button_Fill">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
