
/* Start Permission */

.Permission {
  position: relative ;
  background-image: url(../../../assets/Images/Farmer.png) ;
  background-repeat: no-repeat ;
  background-size: contain ;
  background-position: bottom right;
  height : 100vh ;
}

.Permission::before {
  content: "" ;
  position: absolute ;
  width : 100% ;
  height : 100% ;
  background-color: var(--Body-Color) ;
  top : 0 ;
  left : 0 ;
  z-index: -1 ;
}

.Permission__Container {
  display: flex ;
  justify-content: flex-start ;
}

.Permission__Box {
  background-color: #fff ;
  padding: 30px ;
  border-radius: 8px ;
  box-shadow: 5px 5px 16px #0000005e;
}

.Permission__Box--Sign_In ,
.Permission__Box--Sign_Up ,
.Reset_Password {
  flex-basis: 40% ;
}

.Permission__Box h1 {
  margin-bottom: 40px ;
  margin-top: 0 ;
  text-align: center ;
  position: relative ;
}

.Permission__Box h1 .BackPageIcon {
  position: absolute ;
  top: 0;
  left: -20px;
}

.Permission__Box h1 .BackPageIcon i {
  border-radius: 50% ;
  color : var(--Main-Color) ;
}

.Permission__Box h1 .BackPageIcon i:hover {
  background-color: var(--Main-Color) ;
  color : #fff ;
}

.Permission__Box--Primary-Head {
  display: block;
  color: var(--Main-Color);
  font-size: 30px ;
  font-weight: 600;
  letter-spacing: -1px ;
}

.Permission__Box--Secondary-Head {
  font-size: 16px;
  font-weight: normal;
  color: #423f3fcc;
}

.Permission__Box form {
  text-align: center ;
}

.Permission__Box form > div ,
.Permission__Box form > button {
  position: relative ;
  margin-bottom: 40px;
  width: 100%;
}

.Permission__Box--Input > div:not(:last-child) {
  margin-bottom: 20px ;
}

.Permission__Box--Input .Input_CheckBox {
  margin-top: 35px ;
}

.Permission__Box--Input .Input_CheckBox label {
  gap : 11px ;
}

.Permission__Box--Button {
  color : #fff ;
  font-weight: 800 ;
  padding: 11px 30px ;
  margin-bottom: 30px ;
  background-color: var(--Main-Color) ;
}

.Permission__Box--Button.Disable {
  background-color: #12B44F98 ;
}

.Permission__Box--Text .Permission__Box--Option:not(:last-child) {
  margin-bottom : 15px ;
}

.Permission__Box--Text p {
  font-size: 15px ;
  color : var(--Paragraph-Color) ;
  text-align: center ;
}

.Permission__Box--Text p span ,
.Permission__Box--Text p span a {
  color : var(--Main-Color) ;
  cursor: pointer ;
}

.PopUp .PopUp__Content .Global_Paragraph {
  color: var(--Paragraph-Color);
  font-size: 15px;
  font-weight: 400;
}

@media (max-width: 991px) {

  .Permission {
    background-image: none ;
  }

  .Permission__Container {
    justify-content: center ;
  }

  .Permission__Box {
    flex-basis: 100% ;
  }
}

/* End Permission */


.PopUp .PopUp__Overlay {
  position: fixed ;
  top : 0 ;
  left: 0 ;
  width : 100% ;
  height : 100vh ;
  opacity: 0 ;
  visibility: hidden ;
  background-color: rgba(34, 35, 39, 0.86);
  transition: all var(--Move_Speed) ;
}

.PopUp.Show_PopUp .PopUp__Overlay {
  opacity: 1 ;
  visibility: visible ;
}

.PopUp .PopUp__Container {
  position: absolute ;
  top : 50% ;
  left : 50% ;
  transform: translate(-50% , calc(-50% - 100px));
  background-color: #fff ;
  border-radius: 10px ;
  width: 500px;
  max-width: 100%;
  opacity: 0 ;
  visibility: hidden;
  transition: all var(--Move_Slow) ;
}

.PopUp__Container .PopUp__Title .Global_Icon {
  cursor: pointer ;
  border-radius: 50% ;
}

.PopUp__Container .PopUp__Title .Global_Icon:hover {
  background-color: var(--Main-Color) ;
  color: #fff ;
}

.PopUp.Show_PopUp .PopUp__Overlay .PopUp__Container {
  opacity: 1 ;
  visibility: visible ;
  transform: translate(-50% , -50%);
}

.PopUp .PopUp__Title ,
.PopUp .PopUp__Content ,
.PopUp .PopUp__Buttons {
  padding: 16px ;
}

.PopUp .PopUp__Title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--ButtonDisable-Color);
}

.PopUp .PopUp__Title h1 {
  margin : 0;
  font-weight: 600;
  font-size: 25px;
}

.PopUp .PopUp__Content {
  border-top : 1px solid var(--Border_Break-Color) ;
  border-bottom : 1px solid var(--Border_Break-Color) ;
}

.PopUp .PopUp__Buttons .Global-Button {
  display: block;
  padding: 10px 30px;
  margin-left: auto;
}
