/* Start Profile */

.My_Profile__Container {
  display: flex ;
  gap: 50px ;
  flex-wrap: wrap ;
  align-items: center ;
  flex-direction: column;
}

.My_Profile__ImageUser {
  position: relative;
}

.My_Profile__ImageUser::before {
  content: "";
  position: absolute ;
  top : 0 ;
  left : 0 ;
  width : 100% ;
  height : 98% ;
  opacity: 0 ;
  border-radius: 50% ;
  z-index: -1 ;
  transition: all var(--Move_Middel) ;
}

.My_Profile__ImageUser:hover::before {
  opacity: .9;
  z-index: 0 ;
  background-color: #fff9 ;
}

.My_Profile__ImageUser img {
  width: 200px;
  height : 200px ;
  border-radius: 50%;
  border: 4px solid var(--Main-Color);
}

.My_Profile__ImageUser .Switch_Button {
  position: absolute;
}

.My_Profile__ImageUser ul {
  top : 50% ;
  left: 50% ;
  transform: translate(-50% , -50%);
}

.My_Profile__Box {
  position: relative ;
  width : 100% ;
  padding: 20px 40px ;
  background-color: #fff ;
  border-radius: 10px ;
  box-shadow: 1px 2px 12px #00000052 ;
}

.My_Profile__Box .My_Profile__Box--title {
  position: relative ;
  padding: 15px;
  margin-bottom: 35px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000bd;
}

.My_Profile__Box .My_Profile__Box--title::before {
  content: "" ;
  position: absolute ;
  width : 100% ;
  height : 2px ;
  bottom: 0 ;
  left : 0 ;
  background-color: var(--Main-Color) ;
}

.My_Profile__Box--Info {
  flex : 1 ;
  display: grid ;
  grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
  grid-gap: 20px ;
}

.My_Profile__Box--Info .Box_Info {
  position: relative ;
  border-radius: 10px ;
  padding: 20px ;
  background-color: #0000000f ;
}

.Box_Info .Box_Info__Key {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.Box_Info .Box_Info__Value {
  font-size: 15px;
  color: var(--Paragraph-Color);
  font-weight: 500;
  margin-left: 5px;
}

.My_Profile__Box--Info .Box_Info ul ,
.My_Profile__ImageUser ul {
  position: absolute ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  visibility: hidden ;
  opacity: 0 ;
  transition: all var(--Move_Middel) ;
}

.My_Profile__Box--Info .Box_Info ul {
  right: 20px;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
}

.My_Profile__Box--Info .Box_Info:hover ul ,
.My_Profile__ImageUser:hover ul {
  opacity: 1 ;
  visibility: visible;
}

.My_Profile__Box--Info .Box_Info ul li i ,
.My_Profile__ImageUser:hover ul li i {
  border-radius: 50% ;
  color : var(--Main-Color) ;
  cursor: pointer ;
}

.My_Profile__Box--Info .Box_Info ul li.Remove i:hover ,
.My_Profile__ImageUser:hover ul li.Remove i:hover {
  background-color: #FF0000FF ;
  color : white ;
}

.My_Profile__Box--Info .Box_Info ul li.Edit i:hover,
.My_Profile__ImageUser:hover ul li.Edit i:hover {
  background-color: var(--Main-Color) ;
  color : #fff ;
}

.My_Profile__Box--More_Options {
  display: flex ;
  flex-wrap: wrap ;
  gap: 20px ;
  justify-content: center ;
}

.My_Profile__Box--More_Options .Global-Button {
  padding: 15px;
  color: #fff;
  opacity: 1 ;
}

.My_Profile__Box--More_Options .Global-Button:disabled {
  opacity: .6 ;
}

.My_Profile__Box--More_Options .Password_Option ,
.My_Profile__Box--More_Options .NewNumber_Option {
  background-color: var(--Main-Color) ;
}

.My_Profile__Box--More_Options .Remove_Option {
  background-color: var(--Error-Color) ;
}

@media (max-width: 767px) {

  .My_Profile__Container {
    flex-direction: column ;
  }

  .My_Profile__Box {
    padding: 20px ;
  }

  .My_Profile__Box--Info {
    grid-template-columns: repeat(auto-fill , minmax(100% , 1fr));
  }

  .My_Profile__Box--More_Options .Global-Button {
    flex-basis: 100% ;
  }
}

/* End Profile */
